<!DOCTYPE html>
<html>
  {% capture lab_root %}http://lab.concord.org/version/{{ page.lab_version }}{% endcapture %}
  <head>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Lab Interactive</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='{{ lab_root }}/vendor/jquery-ui/jquery-ui.css' rel='stylesheet' type='text/css'>
    <link href='{{ lab_root }}/vendor/jquery-context-menu/jquery.contextMenu.css' rel='stylesheet' type='text/css'>
    <link href='{{ lab_root }}/vendor/jquery-selectBoxIt/jquery.selectBoxIt.css' rel='stylesheet' type='text/css'>
    <link href='{{ lab_root }}/embeddable.css' rel='stylesheet' type='text/css'>
    <script src='{{ lab_root }}/vendor/modernizr/modernizr.js' type='text/javascript'></script>
    <script type='text/javascript'>
      if (!Modernizr.svg) { window.location = 'browser-upgrade.html'; }
    </script>
    <script src="{{ lab_root }}/vendor/d3/d3.min.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/jquery-context-menu/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/jquery-selectBoxIt/jquery.selectBoxIt.min.js" type="text/javascript"></script>
    <script src="{{ lab_root }}/vendor/tinysort/jquery.tinysort.js" type="text/javascript"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6899787-28']);
        _gaq.push(['_setAllowAnchor', true]);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    
  </head>
  <body>
    <div id='interactive-container' tabindex='0'></div>
    <div class='warning-pane' id='firefox-warning-pane'>
      <p>
        <a class='opens-in-new-window' href='http://blog.concord.org/serious-performance-regression-in-firefox-18-and-newer' target='_blank'>Firefox v18-22 performance issue ...</a>
      </p>
    </div>
    <script src='{{ lab_root }}/lab/lab.js'></script>
    {{ content }}
    <script>
      AUTHORING = false;

      (function() {

        var controller,
            baseurl = '{{ site.baseurl }}';

        // FIX the INTERACTIVE json so it will load model correctly
        if (baseurl) {
          $.each(INTERACTIVE.models, function(index, model){
            if(model.url) {
              model.url = baseurl.substring(1) + "/" + model.url;
            }
          })
        }

        // Need to initialize new Lab.InteractivesController(interactiveUrl, '#interactive-container');
        // it appears we can pass the javascript object from the interactive json
        controller = new Lab.InteractivesController(INTERACTIVE, '#interactive-container');
        controller.on("modelLoaded.application", function() {
          interactive = controller.interactive;
          document.title = "Lab Interactive: " + interactive.title;
        });

      }());
    </script>
    <script src='{{ lab_root }}/vendor/shutterbug/shutterbug.js' type='text/javascript'></script>
    <script>
      $(window).load(function () {
        if (Shutterbug) {
          window.shutterbug = new Shutterbug("#responsive-content","#image_output") };
        }
      );
    </script>
    
  </body>
</html>
